.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo{
  width: 200px;
}

.nav-items{
  padding: 0px 20px;
}

.nav-items > ul{
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li{
  padding: 10px;
  margin: 10px;
}

.res-card{
  width: 200px;
  height: 350px;
  margin: 5px;
}

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}

.search{
  padding: 10px;
}

.res_logo{
  padding: 5px;
  width: 190px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}